*{
    background-color: #a5b4c6;
    font-family: 'Orbitron', sans-serif;
}

#box1
{
    display: inline-block;
    margin: 20px;
    border: 5px solid black;
    padding: 20px;
    background-color: aquamarine;
}

#box2
{
    display: inline-block;
    margin: 20px;
    border: 5px solid pink;
    background-color: crimson;
    padding: 20px;
}

#box3
{
    text-decoration: none;
    background-color: #374658;
    margin: 20px;
    color: aliceblue;
    padding: 20px;
    border: 5px solid #a5b4c6;
    border-radius: 23px;
    display: inline-block;
}

#box4 
{
    text-decoration: none;
    background-color: #374658;
    margin: 20px;
    color: aliceblue;
    padding: 20px;
    border: 5px solid #a5b4c6;
    border-radius: 23px;
    display: inline-block;
    cursor: pointer;
}

#box5
{
    text-decoration: none;
    background-color: #374658;
    margin: 20px;
    color: aliceblue;
    padding: 20px;
    border: 5px solid #a5b4c6;
    border-radius: 23px;
    display: inline-block;
    cursor: pointer;
}

#box5:hover
{
    background-color: #2a3543;
    text-decoration: underline;
    border-radius: 13px;
    padding: 25px;
    transition: background-color 0.9s, border-radius 0.5s, padding 0.9s;
}
section{
    padding: 80px 30px;
}
#section2{
    background-image:  linear-gradient(rgba(0,0,0,0.71),rgba(0,0,0,0.71)), url(https://studiosol-a.akamaihd.net/uploadfile/letras/fotos/e/b/6/7/eb678657089a8cbba09e6e0241f50bde.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.container{
    background-color: rgba(255, 255, 255, 0);
}